// layout:
$navbar-height: 80px;

// fonts:
$synco: "Syncopate", arial;
$kanit: "Kanit", sans-serif;

// colors:
$white: #F3F3F3;
$black: #222;
$grey1: #444;
$grey2: #808080;
$green1: #40D592; // for elements
$green2: #66E2AA; // for links
$purple1: #8B59AF;
$red1: #FF6228;