footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 4rem 0 1rem 3.5rem;
    padding: 1.2rem 2rem;
    font-family: $rubik;
    letter-spacing: normal;
    color: $white;
    background-color: $purple1;
    transition: clip-path 0.5s;
    clip-path: polygon(0% 0%, 98.5% 20%, 100% 80%, 1.5% 100%);
    p, a {
        font-size: clamp(0.8rem, 0.8rem + 0.1vw, 0.9rem);
        color: inherit;
    }
    &:hover {
        clip-path: polygon(1.5% 20%, 100% 0%, 98.5% 100%, 0% 80%);
    }
}

// MEDIA QUERIES:
// Tablet (768px)
@media only screen and (max-width: 48em) {
    footer {
        margin-left: 2rem;
    }
}
// layout breakpoint (600px)
@media only screen and (max-width: 37.5em) {
    footer {
        margin: 2.5rem 1rem 1rem;
    }
}
// Mobile-L (425px)
@media only screen and (max-width: 26.5625em) {
    footer {
        margin: 4rem 0 0;
        padding: 1.75rem 1.5rem 0.85rem;
        clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 0% 100%);
        &:hover {
            clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}