footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 4rem 1rem 1rem;
    padding: 2rem;
    font-family: $kanit;
    letter-spacing: normal;
    color: $white;
    background-color: $purple1;
    background: linear-gradient(to right, rgba(139, 89, 175, 0) 1%, #8b59af, rgba(139, 89, 175, 0) 99%);
    p, a {
        font-size: clamp(0.8rem, 0.8rem + 0.1vw, 0.9rem);
        color: inherit;
    }
}

// MEDIA QUERIES:
// Tablet (768px)
@media only screen and (max-width: 48em) {
    footer {
        margin-left: 2rem;
    }
}