.social-icons {
    grid-area: social-icons;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: calc(55vh - calc(60vh/2)); // minus height/2
        width: 50px;
        height: 60vh;
    }
    a {
        svg {
            width: 100%;
            position: relative;
            fill: $grey2;
            opacity: 0.075;
            transition: color 0.15s ease-in, opacity 0.15s ease-in;
            &:hover {
                fill: $green1;
                opacity: 1 !important; // override javascript
            }
        }
        &:nth-child(3) {
            svg {
                width: 92%;
                margin-left: 2px;
            }
        }
    }
}

// layout breakpoint (600px)
@media only screen and (max-width: 37.5em) {
    .social-icons {
        div {
            flex-direction: row;
            position: static;
            width: 80%;
            height: 50px;
            margin-top: 2rem;
        }
        a {
            svg,
            &:nth-child(3) {
                width: 40px;
            }
            &:nth-child(2) {
                svg {
                    width: 50px;
                }
            }
        }
    }
}
// Mobile S (320px)
@media only screen and (max-width: 20em) {
    .social-icons {
        div {
            justify-content: space-between;
        }
    }
}